body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }

#fixa{
    background-attachment: fixed;
}

#topmenu{
    display: flex;
    background-color: rgb(19, 21, 20);
    margin: 0;
    
    
}
#topmenu li {
    color: rgb(3, 211, 90);
    text-decoration: none;
    display: block;
    padding: 15px
}

#topmenu li:first-child{
    margin-right: auto;
}

.parte1{
    display: flex;
    height: 35vw;
    background-image: url(https://images8.alphacoders.com/484/484838.jpg);
    background-position: center;
    background-size: cover;  
}

h1{
    position:relative;
    z-index: 1;
    left: 0px;
    height: 350px;
    
}
.centralizar{
    position: relative;
    margin: auto;
    text-align: center;
}

.parte2{
    display: flex;
    background-color: white;
    width: 33vw;
}

.fotoprojeto{
    width: 15vw;
    height: 15vw;
    padding-left:15px;
}

.cortetxtografite{
    color:rgb(202, 221, 208); ;
}
.cortextoverde{
    color:rgb(17, 148, 72);;
}
.minhaFoto{
    width: 400px;
    border-radius: 200%;
    margin-top: 19vh;
    position: absolute;
    left: 50px;
    height: 200px;
    padding: 0;
}
