body{
    margin: 0;
}

#topmenu{
    display: flex;
    background-color: rgb(8, 232, 120);
    margin: 0;
}
#topmenu li {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
}

#topmenu li:first-child{
    margin-right: auto;
}
/*
body{
    background-color: rgb(179, 142, 93);
}

h1{
    text-align:center;
}
#px01{
     text-align: center;
}*/